FOMO26_DATA=data
FOMO26_MODELS=checkpoints
FOMO26_RESULTS=results
FOMO26_CONFIGS=configs
nnssl_preprocessed=data/OpenMind
nnUNet_raw=data
nnUNet_preprocessed=nnUNet/processed
nnUNet_results=nnUNet/results
